@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html{
    background: #0F9914;
}

.main {
    display: flex;
}

.content{
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    min-width: 700px;
    max-height: 400px;

    align-content: center;
    text-align: center;
    align-self: center;
}
.competitions{
    overflow: auto;
}
.message {
    background: white;
    align-content: center;
    padding: 5px;
    align-self: center;
    text-align: center;
    max-width: 100%;
    color: red;
}

.competition{
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    border-bottom: 1px solid black;
    flex-basis: 50%;
}
.button{
    min-width: 70%;
    min-height: 30px;
}
.buttons{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-basis: 30%;
    min-width: 80px;
    align-content: center;
    text-align: center;
}

.title{
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}


.competitors{
    align-self: center;
    flex-basis: 40%;

}

.beginning{
    align-self: center;
    flex-basis: 30%;
}