.set-coef-container{
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    min-width: 400px;
    max-height: 500px;
    align-content: center;
    text-align: center;
}

.competitions>.title{
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}

.set-coef-container>.title{
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
.input-form{
    overflow: auto;
    display:flex;
    flex-direction: column;
}
.input-row{
    display: flex;
    min-height: 30px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    border-bottom: 1px solid black;

}

.label{
    flex-basis: 70%;
}

.input-field{
    flex-basis: 30%;
    max-width: 70px;
}

.button{
    margin: 25 0 10;
    font-family: "Roboto", sans-serif;
    align-self: center;
    text-transform: uppercase;
    outline: 0;
    background: #0F9914;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.button:hover {
    background-color: #08300B;
    color: white;
}